<!DOCTYPE html>
<html lang="en"><head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <title>Style Transfer — Project 3</title>
        <meta name="description" content="Transforms your photos into works of art. The app performs this style transfer with the help 
        of a branch of machine learning called convolutional neural networks.">
        <meta name="authors" content="Erin Bentley, Claudia Ibarra, & Sana Khan">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       
        <!-- Jinja2 reference to our css file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
      <body><div style="visibility: hidden; overflow: hidden; position: absolute; top: 0px; height: 1px; width: auto; padding: 0px; 
      border: 0px; margin: 0px; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; 
      word-spacing: normal;"></div>
    
        <header>
          <nav class="navbar">
            <div class="container">
              <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="/">Main</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/research">Research</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/meetthegirls">Meet the Girls</a></li>
              </ul>
            </div>
          </nav>
        </header>
    
        <main>
    
    <div class="container">
    <article class="">
    
      <header class="post-header">
        <h1 class="post-title">Style Transfer - Project 3</h1>  
        <section class="post-meta">
          <time class="post-date" datetime="2020-05-9T21:00:00+01:00">09 May 2020 - Presentation Day</time>
        </section>
      </header>
    
      <section class="post-content">
  
    <p>There are amazing apps out that transforms your photos into works of art using the styles of famous
    artwork and motifs. This style transfer with the help of a branch of machine learning 
    called <a href="https://en.wikipedia.org/wiki/Convolutional_neural_network">convolutional neural
    networks</a>.</p>
    
    <h2 id="become-an-artist">Become an Artist</h2>
    <br>
    <form action="/" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
​
    </form>
   <br>
    <h3 id="so-how-does-it-work">So how does it work?</h3>
    
    <p>It allows you to transfer the style of one image, like <a href="https://blantonmuseum.org/2013/09/coming-to-america-collectors-and-spread/">a cubist painting</a>, onto the content of
    another, like a photo of your dog, to arrive at gorgeous results like these:</p>
    
    <br>
    <div class="row">
      <div class="col-4"><h4>Photo Image</h4></div>
      <div class="col-4"><h4>Artwork Image </h4></div>
      <div class="col-4"><h4>Result Image</h4></div>
    </div>
    {% for image in images %}
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img class="img-fluid" src="{{image.content}}"  alt="Artwork">
      </div>
      <br>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img class="img-fluid" src="{{image.style}}" alt="Photo">
      </div>
      <br>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img class="img-fluid" src="{{image.stylized}}" alt="Result">
      </div>
    </div>
    {% endfor %}

        </main>
    
        <footer class="mainfooter">
          <div class="container">
            <p>© Erin Bentley, Claudia Ibarra, & Sana Khan UT-MCB-DATA-PT-11-2019-U-C  09-V-2020
          </div>
        </footer>
        </body>
    </html>