<!DOCTYPE html>
<html lang="en"><head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <title>Style Transfer — Project 3</title>
        <meta name="description" content="Transforms your photos into works of art. The app performs this style transfer with the help 
        of a branch of machine learning called convolutional neural networks.">
        <meta name="authors" content="Erin Bentley, Claudia Ibarra, & Sana Khan">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       
        <!-- Jinja2 reference to our css file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
      <body><div style="visibility: hidden; overflow: hidden; position: absolute; top: 0px; height: 1px; width: auto; padding: 0px; 
      border: 0px; margin: 0px; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; 
      word-spacing: normal;"></div>
    
        <header>
          <nav class="navbar">
            <div class="container">
              <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="/">Main</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/research">Research</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/meetthegirls">Meet the Girls</a></li>
              </ul>
            </div>
          </nav>
        </header>
    
        <main>
    
    <div class="container">
    <article class="">
    
      <header class="post-header">
        <h1 class="post-title">Style Transfer - Project 3</h1>  
        <section class="post-meta">
          <time class="post-date" datetime="2020-05-9T21:00:00+01:00">09 May 2020 - Presentation Day</time>
        </section>
      </header>
    
      <section class="post-content">
    
    <p>There are amazing apps out that transforms your photos into works of art using the styles of famous
      artwork and motifs. This style transfer with the help of a branch of machine learning 
      called <a href="https://en.wikipedia.org/wiki/Convolutional_neural_network">convolutional neural
      networks</a>.</p>
    
    <h2 id="research">Research</h2>
    <p>Like many people, I found much of the output of this very pleasing, and I got curious as to how it 
    achieves its visual effect. How would we even begin to achieve something like this?</p>
    
    <p>The branch of machine learning we turn to solve the image classification problem is called <em>supervised learning</em>. 
    In fact, when you hear most people talking about machine learning today (deep learning or otherwise), what they’re probably 
    referring to is supervised learning, as it is the subset of machine learning that has demonstrated the most success in recent 
    years. Supervised learning is now the classic procedure for <em>learning from data</em></p>

    <h3 id="selected-references-and-further-reading">References / Further Reading</h3>
    <p>Our team utilized Cornell University's <a href="https://arxiv.org/pdf/1705.06830.pdf">"Exploring the Structure of a Real-Time, Arbitrary Neural
      Artistic Stylization Network"</a></p>
      <p>This paper presents a method which combines the flexibility of the neural algorithm of artistic
      style with the speed of fast style transfer networks to allow real-time stylization using any content/style
      image pair.</p>

    <h3 id="selected-references-and-further-reading">References / Further Reading</h3>
    <p><a href="https://tensorspace.org/html/playground/index.html/">TensorSpace Playground</a> designed for presenting different pre-built models</p>
    <p><a href="https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/generative/style_transfer.ipynb#scrollTo=lGUfttK9F8d5">Neural Style Transfer</a> tutorial uses deep learning to compose one image in the style of another image</p>
    <p><a href="https://towardsdatascience.com/simple-introduction-to-convolutional-neural-networks-cdf8d3077bac">Towards Data Science</a> simple introduction to cnns... (c)onvolutional (n)eural (n)etworks</p>
    
        </main>
    
        <footer class="mainfooter">
          <div class="container">
            <p>© Erin Bentley, Claudia Ibarra, & Sana Khan UT-MCB-DATA-PT-11-2019-U-C  09-V-2020
          </div>
        </footer>
        </body>
    </html>