<!DOCTYPE html>
<html lang="en"><head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <title>Style Transfer — Project 3</title>
        <meta name="description" content="Transforms your photos into works of art. The app performs this style transfer with the help 
        of a branch of machine learning called convolutional neural networks.">
        <meta name="authors" content="Erin Bently, Claudia Ibarra, & Sana Khan">
    
        <link rel="stylesheet" href="main.css">
    
      <body><div style="visibility: hidden; overflow: hidden; position: absolute; top: 0px; height: 1px; width: auto; padding: 0px; 
      border: 0px; margin: 0px; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; 
      word-spacing: normal;"></div>
    
        <header>
          <nav class="navbar">
            <div class="container">
              <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="/index/">Main</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/research/">Research</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/meet the girls/">Meet the Girls</a></li>
              </ul>
            </div>
          </nav>
        </header>
    
        <main>
    
    <div class="container">
    <article class="">
    
      <header class="post-header">
        <h1 class="post-title">Style Transfer - Project 3</h1>  
        <section class="post-meta">
          <time class="post-date" datetime="2020-05-9T21:00:00+01:00">09 May 2020 - Presentation Day</time>
        </section>
      </header>
    
      <section class="post-content">
        
   <!-- if images is False/None/non-existent, then default to error message -->
   <img src="{{ image_dog }}" alt="previous" title="Previous" border="0">
  
    <p>There are amazing apps out that transforms your photos into works of art using the styles of famous
    artwork and motifs. The app performs this style transfer with the help of a branch of machine learning 
    called <a href="https://en.wikipedia.org/wiki/Convolutional_neural_network">convolutional neural
    networks</a>.</p>
    
    <h2 id="become-an-artist">Become an Artist</h2>
    <form action="/" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>

    </form>
    
    <p>This allows you to transfer the style of one image, like <a href="https://blantonmuseum.org/2013/09/coming-to-america-collectors-and-spread/">a cubist painting</a>, onto the content of
    another, like a photo of your dog, to arrive at gorgeous results like these:</p>
   
    <h3 id="so-how-does-it-work">So how does it work?</h3>
    
    <p>It allows you to transfer the style of one image, like <a href="https://blantonmuseum.org/2013/09/coming-to-america-collectors-and-spread/">a cubist painting</a>, onto the content of
    another, like a photo of your dog, to arrive at gorgeous results like these:</p>
    
    <p>----- ADD IMAGE EXAMPLES & CAPTIONS HERE (CODE CURRENTLY COMMENTED OUT) -----</p>
    <!-- <figure>
    <div class="">
      <div class="ADD HERE">
        <img class="img" src="/images/ADD LINK HERE.jpg" alt="ADD TITLE HERE ">
        <img class="img" src="/images/ADD LINK HERE.jpg" alt="ADD TITLE HERE">
      </div>
      <div class="ADD HERE">
        <img class="img" src="/images/ADD LINK HERE.jpg" alt="ADD TITLE HERE">
      </div>
    </div>
    
    <figcaption>ADD CAPTION HERE.</figcaption>
    </figure> -->
    
    <p>Like many people, I found much of the output of this app very pleasing, and I got curious as to how it achieves its visual 
        effect. How would we even begin to achieve something like this?</p>
   
    <p>The branch of machine learning we turn to solve the image 
        classification problem is called <em>supervised learning</em>. In fact, when you hear most people talking about machine learning 
        today (deep learning or otherwise), what they’re probably referring to is supervised learning, as it is the subset of machine 
        learning that has demonstrated the most success in recent years. Supervised learning is now the classic procedure for <em>learning 
        from data</em></p>
    
    <h3 id="selected-references-and-further-reading">References / Further Reading</h3>

    <p>----- ADD LINKS HERE (CODE CURRENTLY COMMENTED OUT) -----</p>
    <!-- <ol>
    <li><a href="ADD LINK HERE">ADD TITLE HERE</a></li>
    <li><a href="ADD LINK HERE">ADD TITLE HERE</a></li>
    <li><a href="ADD LINK HERE">ADD TITLE HERE</a></li>
    </ol> -->
    

    
        </main>
    
        <footer class="mainfooter">
          <div class="container">
            <p>© Erin Bently, Claudia Ibarra, & Sana Khan UT-MCB-DATA-PT-11-2019-U-C  09-V-2020
          </div>
        </footer>
        </body>
    </html>